<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GKarch.Fomalhaut.Auth" version="2.0.0" targetFramework="net40-client" />
  <package id="GKarch.Glacier" version="2.0.0" targetFramework="net40-client" />
  <package id="GKarch.Glacier.Core" version="2.0.0" targetFramework="net40-client" />
  <package id="GKarch.Ioc.LightInject4" version="2.0.0" targetFramework="net40-client" />
  <package id="GKarch.Tundra.Misc" version="2.0.0" targetFramework="net40-client" />
  <package id="LightInject" version="4.0.0" targetFramework="net40-client" />
</packages>